@import "./font.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    min-width: 2500px;
    min-height: 2500px;
}

.background {
    background-color: #ffffff;
    opacity: 0.3;
    background-image: linear-gradient(#b2b438 1px, transparent 1px), linear-gradient(to right, #b2b438 1px, #ffffff 1px);
    background-size: 20px 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

* {
    font-family: IranSans;
}

.note {
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
    box-shadow: #00000070 2px 2px 6px 0px;
    position: absolute;

    textarea {
        background: none;
        color: black;
        font-size: 16px;
        direction: rtl;
        border: none;
        outline: none;
        resize: none;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 35px;
        bottom: 30px;
    }

    .color-picker {
        position: absolute !important;
        right: 35px;
        bottom: -95px;
    }

    .icon {
        bottom: 10px;
        position: absolute;
        right: 15px;
        color: black;
        cursor: pointer;

        &.palette {
            right: 50px;
        }
    }

    .tooltip-inner {
        text-align: start;
    }

    .handle {
        cursor: move;
        width: 100%;
    }
}

.add {
    font-size: 46px;
    width: 75px;
    height: 75px;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 100;
}

.notes {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
